/*-----------------GENERAL------------------*/
html, body {
  height: 100%;
  width: 100%;
  margin: auto auto;
  padding: 0;
  font-size: 17px;
  color: white;
  font-weight: bolder;
  text-align: center;
  font-family: 'Arima-Madurai', cursive;
  font-size: 30px;
	font-style: italic;
}

@font-face {
  font-family: Arima-Madurai;
  src: url(../FONTS/Arima_Madurai/ArimaMadurai-Regular.ttf);
}

.container {
	max-width: 1024px;
	background-color: #fff456;
	width: 80%;
	height: 80%;
	margin: auto;
	max-height: 1024px;
  border: 1px solid black;
}

/*----------HEADER--------------*/

.header {
	max-width: 1024px;
	background-color: white;
	width: 80%;
	height: 10%;
	margin: auto;
	max-height: 1024px;
  border: 1px solid black;
  color: black;
}

/*---------------FOOTER----------------*/

footer{
  max-width: 1024px;
	background-color: white;
	width: 80%;
	height: 10%;
	margin: auto;
	max-height: 1024px;
  border: 1px solid black;
  color: black;
  text-align: center;
  color: #0E253A;
  vertical-align: middle;
}

footer em{
  margin: auto;
  padding-top: 10px;
  font-size: 10px;
}
