/*-----------------GENERAL------------------*/
* {margin: 0; padding: 0; outline: 0;}

.centered {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /*transform: translate(-525px, -150px);*/
}

html,body {
	font-family: Helvetica, Arial, Verdana, sans-serif;
	/*font-size: 12px;*/
	background-color: #eceff1;
	height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.container {
	/*max-width: 1024px;*/
	background-color: white;
	width: 100%;
	height: 100%;
	margin: auto;
	max-height: 1024px;
  /*border: 1px solid black;*/
}

.hidden {
  display: none;
}

/*-----------Event Information(lightbox)---------*/

#EventInformation {
  position: fixed;
  background-color: rgba(0,0,0,.8);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

#EventInformation > div{
  background-color: #3C3C3B;
  background-image: url(../IMG/Eventos/CodeParty2015Pereira/codeparty_logo.png);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: 25% -20%;/*x,y*/
  width: 70%;
  height: 80%;
  margin: auto;
  margin-top: 7%;
  padding: 20px 5px;
  border: 3px solid white;
  box-sizing: border-box;
  max-height: 700px;
  position: relative;
}

#EventInformation .robot {
  position: absolute;
  left: -21%;
}

#EventInformation .letra {
  color: white;
  font-size: 30px;
  text-align: center;
  padding-right: 30px;
  text-shadow: -1px 0 black, 0 2px black, 1px 0 black, 0 -1px black;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-30%, 0%);
}

#EventInformation .close {
  color: white;
  font-size: 40px;
  position: absolute;
  top: -7%;
  left: 102%;
}

#EventInformation .close:hover {
  cursor: pointer;
}

/*-------------PanelUP---------------*/
.panelup {
	display: block;
	width: 100%;
	height: 90%;
	min-height: 800px;
	margin: auto;
	background-color: black;
	position: relative;
	/*border: 1px solid white;*/
}

.panelup a:nth-child(2) {
	position: absolute;
  text-decoration: none !important;
  cursor: default;
}

.current {
	max-height: 600px;
}


      /*--the arrows--*/
.panelup a:nth-child(1),.panelup a:nth-child(3) {
	color: white;
	font-size: 100px;
	text-decoration: none !important;
	position: absolute;
}

.panelup a:nth-child(1) {
	left: 0;
	bottom: 0;
	background-color: rgba(30,30,30,0.7);
	padding-top: 350px;
	padding-bottom: 350px;
}

.panelup a:nth-child(1):hover, .panelup a:nth-child(3):hover {
	background-color: rgba(30,30,30,1);
}

.panelup a:nth-child(3) {
	right: 0;
	bottom: 0;
	background-color: rgba(30,30,30,0.7);
	padding-top: 350px;
	padding-bottom: 350px;
}
      /*--end arrows--*/

      /*--the info of the images--*/
.info {
  text-align: center;
  color:white;
  font-size: 20px;
  margin-top: 20px;
  /*border: 1px solid white;*/
  background-color: rgba(21,20,20,.5);
}

.info > p {
  padding: 10px;
}
      /*--end info of the images--*/
/*-------------PanelBottom---------------*/
.panelbottom {
	display: block;
	width: 100%;
	margin: auto;
	background-color: #222121;
	height: 10%;
  /*border: 1px solid white;*/
	/*border: 1px solid black;*/
	overflow: scroll;
}

	/*-------------Galería---------------*/
	.panelbottom .galeria{
		width: 100%;
		margin: auto;
		list-style: none;
		padding: 20px;
		box-sizing: border-box;
		display: flex;
	}

	.panelbottom .galeria img{
		width: 150px;
		height: 100px;
		max-width: 100%;
		border: 1px solid black;
		border-radius: 2.5%;
    box-sizing: border-box;/*los bordes toman espacio hacia adentro*/
    transition: all .2s;
	}

  .panelbottom .galeria li:last-child img {
    margin-right: 30px;
  }

	.galeria li{
		margin: 5px;
	}

	.panelbottom .galeria img:hover{
		cursor: pointer;
    transform: scale(1.2);/*hace la imágen más grande*/
	}
