/*------------General-----------*/
.centered {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /*transform: translate(-525px, -150px);*/
}

.row {
  width: 100%;
  display: inline-block;
}

.letra { font-family: 'Lato', sans-serif; }

/*Fonts*/

@font-face {
  font-family: Cinzel;
  src: url(../../FONTS/Cinzel/Cinzel-Regular.ttf);
}

@font-face {
  font-family: Arima-Madurai;
  src: url(../../FONTS/Arima_Madurai/ArimaMadurai-Regular.ttf);
}

[class*="col-"] { float: left; }

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.row {
  width: 100%;
  display: inline-block;
}

.first-row {margin-top: 50px;}

.center {
  text-align: center;
  margin: auto;
}

/*-----------Intro----------*/
.intro {
  font-size: 5em;
  text-shadow: 2px 2px #444;
}

.style-title-white {
  font-family: 'Linden Hill', serif;
  color: #fff;
  text-align: center;
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

/*---------Nav bar--------------------*/
/*Navigation*/

#logo-nav, #logo-nav-responsive {
  font-family: 'Linden Hill', serif;
  font-size: 35px;
  font-weight: bold;
  border-bottom: 0;
  padding: 0px;
}

ul.topnav {
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #444;
  position: fixed;
  top: 0px;
  z-index: 9999;
}

ul.topnav li {
  float: left;
}

ul.topnav li a {
  display: block;
  color: #fff;
  text-align: center;
  padding: 14px 15px;
  text-decoration: none;
}

a { color: #000; }
a i {
  color: #fff;
  bottom: 10px;
}
a i:hover { opacity: 0.7; }

ul.topnav li a:hover:not(.active) {
  color: #f06292;
  font-weight: bold;
  border-bottom: 2px solid #f06292;
}

ul.topnav li a.active {
  color: #f06292;
  background-color: #444;
  font-weight: bold;
  border-bottom: 2px solid #f06292;
}

ul.topnav ul.right {
  float: right;
  list-style-type: none;
}

ul.topnav li {
    float: right;
}

/*---------Imagen ppal eventos--------*/
.intro-eventos {
  background-image: url(../IMG/Eventos/eventosppal2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  background-color: white;
  height: 100vh;
  min-height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/*-----------Eventos----------*/

.info {
  font-weight: bold;
  text-align: center;
  color: #484848;
}

.event-list {
  list-style-type: none;
  overflow: hidden;
  padding: 0;
}

.event {
  height: 270px;
  position: relative;
  margin-bottom: 50px;
  background-size: cover;
  background-position: center center;
  opacity: 1;
  transition: opacity 300ms ease;
}

  .event:hover {
    opacity: 0.8
  }


  @media (min-width: 600px) {
    .event {
      height: 400px;
      margin-right:25px;
      margin-left:25px;
      width: calc(50% - 50px);
      float: left;
    }

    .event:nth-child(3n + 1) {
      width: calc(100% - 50px)
    }
  }

.event-container {
  width: 90%;
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}

.event .text {
    position: absolute;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-size:25px;
    font-weight:bold;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*---------Charlas--------*/
#todasLasCharlas {
  height: 100%;
  width: 100%;
  background-color: #FFB400;
}

#todasLasCharlas h2 {
  padding-top: 40px;
}

#todasLasCharlas .info {
  color:white;
}

.up {
  height: 20%;
}

.scroll-container {
  position: relative;
  display: inline-block;
  height: 80%;
  width: 100%;
  /*border: 1px solid red;*/
}

.arrow {
  color: #484848;
	font-size: 70px;
	text-decoration: none !important;
	position: absolute;
}

.arrow:nth-child(1) {
  left: 0;
	bottom: 50%;
  color: #CCF5F2;
}

.arrow:nth-child(2) {
  right: 0;
	bottom: 50%;
  color: #CCF5F2;
}

.arrow:hover {
  cursor: pointer;
}

/*--------Footer--------*/

.footer {
  position: relative;
  height: 150px;
  background-color: #444;
  padding: 10px;
  color: white;
}

.icon-footer {
  width: 10%;
  height: 10%;
  padding: 5px;
}

.profileItem {
  width: 100%;
  border-radius: 50%;
}
