* { box-sizing: border-box; }

html, body {
  height: 100%;
  width: 100%;
  margin: auto auto;
  padding: 0;
  font-size: 17px;
  color: #000;
  background: #FFF;
  text-align: center;
  font-family: 'Arima-Madurai', cursive;
  background-image: url(../IMG/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

@font-face {
  font-family: Arima-Madurai;
  src: url(../FONTS/Arima_Madurai/ArimaMadurai-Regular.ttf);
}

[class*="col-"] { float: left; }

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.first-row { margin-top: 50px; }

.left { text-align: left; }

.right { text-align: right; }

.justifyText { text-align: justify; }

.row {
  width: 100%;
  display: inline-block;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: auto;
}

#logo-nav, #logo-nav-responsive {
  font-family: 'Linden Hill', serif;
  font-size: 35px;
  font-weight: bold;
  border-bottom: 0;
  padding: 0px;
}

ul.topnav {
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-weight: bold;
  background-color: #444;
  position: fixed;
  top: 0px;
  z-index: 9999;
}

ul.topnav li {
  float: left;
}

ul.topnav li a {
  display: block;
  color: #fff;
  text-align: center;
  padding: 14px 15px;
  text-decoration: none;
}

a { color: #000; }
a, a:active, a:focus {
  outline: none;
  text-decoration: none;
}
a i {
  color: #fff;
  bottom: 10px;
}

a i:hover { opacity: 0.7; }

ul.topnav li a:hover:not(.active) {
  color: #f06292;
  font-weight: bold;
  padding-bottom: 2px;
  border-bottom: 2px solid #f06292;
}

ul.topnav li a.active {
  color: #f06292;
  background-color: #444;
  font-weight: bold;
  padding-bottom: 2px;
  border-bottom: 2px solid #f06292;
}

ul.topnav ul.right {
  float: right;
  list-style-type: none;
}

ul.topnav li { float: right; }

/*Imagen jointDeveloper*/
.titulo {
  font-family: 'Pacifico', cursive;
  color: #f06292;
  font-size: 90.3333px;
  font-size: 5em;
  text-shadow: 2px 2px #444;
}

.intro-index {
  background: #FFF;
}

.intro-index > img {
  position: relative;
  content: "";
  clear: both;
  display: block;
  margin: auto;
  max-width: 1200px;
  width: 100%;
}

.vertical-center {
  position: relative;
  -ms-transform: translateY(-25%);
  -webkit-transform: translateY(-25%);
  transform: translateY(-25%);
}

.posicionH2{
  font-family: 'Linden Hill', serif;
  padding: 0px 4px 39px 637px;
}

/*fin Imagen jointDeveloper*/

/* Perfiles*/

.Perfiles{
	width: 95%;
	height: 380px;
	float: left;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-shadow: 2px 2px #444;
  font-size: 2em;
  font-weight: bolder;
  text-align: center;
  font-style: italic;
  color: #fff;
}

.Perfiles:hover{
  opacity: 0.7;
  cursor: pointer;
}

a.link {
  display: inline-block;
  text-decoration: none;
  padding: 7px 14px;
  background: #222;
  color: #fff;
  text-transform: uppercase;
  box-shadow: 0 0 1px #000
}

a.link:hover {
  box-shadow: 0 0 5px #000;
}

#left {
  float: left;
}

#right {
  float: right;
}

#left:hover, #right:hover, #allProfiles:hover {
  color: #C1BCBC;
}

#perfiles {
  margin: 20px;
  padding: 5px;
}

#allProfiles {
  color: #FFF;
  text-decoration: none;
}

/*fin perfiles*/
/*Blog*/

.blog {
  margin: 0 20px 0;
  /*position: relative;*/
  height: auto;
  background: #444;
}
.blog-img {
  position: relative;
  content: "";
  clear: both;
  display: block;
  margin: auto;
  width: 100%;
  height: 95% !important;
}

.blog-img:hover {
  opacity: 0.7;
}

.card-tw {
  margin: 0;
  padding-left: 15px;
}
/*fin blog*/
.footer {
  /*position: relative;*/
  height: 150px;
  background-color: #444;
  padding: 10px;
  color: white;
}

.icon-title, .icon-title:visited { color: #fff; }
.icon-title:hover, .btn-inicio:hover { opacity: 0.5; }

.icon-footer {
  width: 10%;
  height: 10%;
  padding: 5px;
}

.profileItem {
  width: 100%;
  border-radius: 50%;
}

.card {
  margin: 20px;
  background: #fafafa;
  padding: 15px 30px 15px 30px;
  min-height: 380px;
  /*position: relative;*/
  height: auto;
}

.ajuste{
  width: calc(100% - 450px);
}

.danger {
  position: relative;
  background: #f50057;
  padding: 60px 0 0 0;
  color: #fff;
}

.danger:hover {
  background: #ff4081 ;
}

a > .danger {
  font-size: 1.55em;
  color: #fff;
}
