* {
  box-sizing: border-box;
}

html, body {
  position: absolute;
	width: 100%;
	height: 100%;
  margin: 0;
	top: 0;
	left: 0;
	font-family: 'Josefin Slab', 'Myriad Pro', Arial, sans-serif;
  font-size: 18px;
}

a:link { text-decoration: none; }

a:active, a:active * { outline: none !important; -moz-outline-style: none !important; }
a:focus, a:focus * { outline: none !important; -moz-outline-style: none !important; }

.container, .scroll {
  height: 100%;
}

section {
  padding: 30px 50px;
  min-height: 100% !important;
}

.banner:before,
.navbar:before {
	content: '';
	position: fixed;
	width: 100%;
	height: 30px;
	background: #444;
}

.banner > a,
.navbar > a {
	position: fixed;
	cursor: pointer;
	height: 30px;
	line-height: 30px;
  font-weight: 700;
	background: #444;
	color: #fff;
	text-align: center;
}

.banner:before,
.banner > a { top: 0; }

.navbar:before,
.navbar > a { bottom: 0; }

.banner > a { width: 50%; }
.navbar > a { width: 11%; }

.navbar > a:hover {
  color: #f06292;
}

#control-1 { left: 0%; }
#control-2 { left: 11%; }
#control-3 { left: 22%; }
#control-4 { left: 33%; }
#control-5 { left: 44%; }
#control-6 { left: 55%; }
#control-7 { left: 66%; }
#control-8 { left: 77%; }
#control-9 { left: 88%; }

#jointDev { left: 0% }
#nombre   { left: 50% }
