* { box-sizing: border-box; }

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 18px;
  background-image: url('../IMG/background.jpg');
  font-family: 'Arima-Madurai', cursive;
}
@font-face {
  font-family: Arima-Madurai;
  src: url(../FONTS/Arima_Madurai/ArimaMadurai-Regular.ttf);
}

#horizontal {
  padding-top: 15%;
}

#horizontal ul{
   list-style-type: none;
   text-align: center;
}
#horizontal li{
   display: inline-block;
   text-align: center;
   margin: 0 10px 0 0;
   position: relative;

}



header h1{
	text-align: center;
	font-family: 'Pacifico',cursive;
	color: #f06292;
	padding-top: 10px;
	font-size: 4em;
}

.intro-portafolio {
  background-image: url(../IMG/portafolio.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
  content: "";
  clear: both;
  display: block;
  background-color: white;
  margin: auto;
  width: 100%;
  height: 95% !important;
  padding-top: 5%;

}

.detalleOpciones {
  position: relative;
  content: "";
  clear: both;
  display: block;
  margin: 10px auto;
  padding: 10px;
  width: 70%;
  min-height: 50% !important;
}

.img-size {
  width: 280px;
  height: 350px;

}
/*.opcionItemHorasDeCodigo{
	padding-right: 5%;
	padding-left: 30%;
	display: inline-block;
	text-align: center;
}

.opcionItemEntrenamiento{
	padding-right: 5%;
	padding-left: 20%;
	display: inline-block;
	text-align: center;
}*/

.opcionItemHorasDeCodigo{
	display: none;
}
.opcionItemEntrenamiento{
	display: none;
}
.opcionItemDesarrolloDeProyectos{
	display: none;
}
.redes,.info{
	display: inline-block;
	padding-left: 2em;
}


.box {
  margin: 10px;
  padding: 5px;
  background-color: #F8BBD0;
  font-size: 20px;
}


.item{
	list-style-image: url('../IMG/item.png');
}

.fondoitem{
	background-color: #F8BBD0;
	width: 87%;
}

.contenidoItemHorasCodigo{
  position: relative;
  width: auto;
  height: auto;
  margin: 20px;

}

.contenidoItemDesarrolloProyectos{

  position: relative;
  width: auto;
  height: auto;
  margin: 20px;

}

.contenidoItemEntrenamiento{

  position: relative;
  width: auto;
  height: auto;
  margin: 20px;

}


.transicion-imagen {
  transition:all 2s;
  width: 280px;
  height: 200px;
  left: 0px;
  display: block;

}

.contenidoItem:hover .transicion-imagen{
  border-radius: 100px;
  width: 180px;
  height: 180px;
  left: 40px;
  transform: translate(20px,-80px);


}

.tituloItem{
  display: block;
  transform: translate(0px);
  transition: all 4s;
  color: #e8175d;


}

.contenidoItem:hover .tituloItem {
  display: block;
  transform: translate(5px,-80px);
}

.textoItem{
  display: none;
  transform: translate(0px);
  transition: all 4s;
  color: #e8175d;
  background: rgba(250, 209, 223,0.5);
  background-size: auto;
  width: 280px;
  height: auto;;
}

.contenidoItem:hover .textoItem{
  display: block;
  transform: translate(0px);
}

.contenidoItem .boton{
  background-color: #e8175d;
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  text-align: center;
  display: inline-block;
  margin: 4px 2px;
}

.opciones{
  width: 100%;
  height: 100%;
  display: block;
}
