.ejemplo{
	background-color: white
}

a {
  outline: none;
}

.table-arendon {
	margin: 0 auto;
}

.tile {
	height: 300px;
	width: 300px;
	padding: 10px;
	border: 1px solid white;
}

.non-space {
	line-height:0px;
}

/* Font */
.font {
  font-family: monospace;
}

.xbig {
	font-size: 40px;
}

.big {
	font-size: 30px;
	font-weight: bold;
}

.left {
	text-align: left;
}

.right {
	text-align: right;
}

.photo {
	border-radius: 50px;
	width: 250px;
  height: 250px;
}

.bg-one {
	background-color: #1abc9c;
	color: #fff;
}

.bg-two {
	background-color: #16a085;
	color: #fff;
}

#bg-photo {
	text-align: center;
	background-color: #27ae60;
	color: #fff;
}

#bg-contact {
	text-align: center;
	background-color: #2ecc71;
	color: #fff;
}
