
html,body {
    height:100%;	
} 
header {        
    display:block;		
}
footer {
    position  : relative;
    margin-top: -50px;
    height    : 40px; 
    padding   :5px 0px;
    clear     : both;   
    text-align: center;
    color     : #fff;
}
h1 {
	text-align: center;
}
h2 {
	text-align: center;
}
p {
	text-align: center;
}
#imagen_centrada { 
	display:block;
	margin :auto;	
	width  :200px;
    height :150px; 
}	

