<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Alejandro E. Rendon</title>

    <link rel="stylesheet" type="text/css" href="../stylo/stilo.css">
  </head>
  <body>
    <div>
      <table class="table-arendon">
        <tr>
          <td class="tile right bg-one font">
            <p class="xbig non-space">Alejandro E.</p>
            <p class="big non-space">Rendon</p>
          </td>
          <td class="tile" id="bg-photo">
            <img class="photo" src="./images/arendon.jpg" alt="Alejandro E. Rendon" />
          </td>
          <td class="tile left font bg-two">
            <p>Estudiante de Ingeniería de Sistemas y Computación - <strong>Universidad Tecnológica de Pereira</strong></p>
            <p>Grupo de Investigación Sirius</p>
          </td>
        </tr>
        <tr>
          <td class="tile font right bg-two">
            <p><img src="./images/icons/info.png" alt="Info" /><i></i></p>
            <p>
              Me gusta <img src="./images/icons/learn.png" alt="Aprender" /> Aprender,<br />
              <img src="./images/icons/design.png" alt="Diseño" /> <i>(En este momento intento aprender algo de diseño gráfico :D),</i><br />
              reirme,<br />
              Molestar a los demás<br />
              <img src="./images/icons/run.png" alt="Correr" /> Correr,<br />
              etc.
            </p>
          </td>
          <td class="tile font" id="bg-contact">
            <p>Contacto</p>
            <p>
              <a href="http://github.com/aerendon" target="_blank"><img src="./images/icons/github-sign.png" alt="Github-aerendon" /></a><br />
              <a href="http://facebook.com/AlejoERendon" target="_blank"><img src="./images/icons/facebook.png" alt="Facebook-AlejoERendon" /></a>
              <p>
                <img src="./images/icons/gmail-logo.png" alt="Github-aerendon" /><br />alejorendon@utp.edu.co
              </p>
            </p>
          </td>
          <td class="tile left bg-one">
            <p class="font"><img src="./images/icons/programming-code-signs.png" alt="Programación" /><i>Conocimientos de Programación</i></p>
            <p class="font">Principal</p>
            <p>
              <img src="./images/icons/java.png" alt="Java" />
              <img src="./images/icons/cpp.png" alt="c++" />
              <img src="./images/icons/html.png" alt="HTML" />
              <img src="./images/icons/css.png" alt="css" />
            </p>
            <p class="font">Otros</p>
            <p>
              <img src="./images/icons/php.png" alt="PHP" />
              <img src="./images/icons/py.png" alt="Python" />
              <img src="./images/icons/sql.png" alt="SQL" />
            </p>
          </td>
        </tr>
      </table>
    </div>
  </body>
</html>
