<!DOCTYPE html>
<head>
	<meta charset="utf-8">
	<title>Carolina Gomez T </title>
</head>

<body>
	<div id="global" align="center">
		<header>
			<h1 align="center"><i>Carolina Gómez Trejos</i></h1>
			<img src="images/cgt.jpg" align="middle">
			<div> <i><p> Soy estudiante de Ingenieria de Sistemas y Computación de la Universidad Tecnológica de Pereira</p>
				<p> Me gusta leer, programar(hace 2 años participo en las maratones de programación competitiva), nadar y me encanta ir a cine.</p> 
				<p>El lenguaje de programación que más me gusta es c++, pero también programo en python y java. </p>
				<h2>Contacto</h2>
				<a href="https://www.facebook.com/Caro.gomez.t" target="_blank"><img alt="Siguenos en Facebook" src="https://lh6.googleusercontent.com/-CYt37hfDnQ8/T3nNydojf_I/AAAAAAAAAr0/P5OtlZxV4rk/s32/facebook32.png" width=32 height=32  /></a>
				<a href="https://github.com/carogomezt">GitHub</a>
				<br>
				<i>carolina9511@gmail.com</i></i>
			</div>
			
		</header>

	 </div>

</body>