<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">-->
    <link href="../../public/stylesheet/perfiles.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Linden+Hill:400italic' rel='stylesheet' type='text/css'>
    <title>Perfiles - jointDeveloper</title>
  </head>
  <body>

    <div class="container center">
      <nav class="container_nav">
        <label for="show-menu" class="show-menu"><a id="logo-nav-responsive">jointDeveloper</a></label>
        <ul class="topnav border" id="menu">
          <li><img src="../../public/images/robot.png" /></li>
          <li><a id="logo-nav" href="../../index.html">jointDeveloper</a></li>
          <li><a href="#inicio" id="nav-inicio" class="group active"><span>Inicio</span></a></li>
          <li><a href="#info" id="nav-info" class="group"><span>Info</span></a></li>
          <li><a href="#habilidades" id="nav-habilidades" class="group"><span>Habilidades</span></a></li>
          <li><a href="#educacion" id="nav-educacion" class="group"><span>Educación</span></a></li>
          <li><a href="#cursos" id="nav-cursos" class="group"><span>Cursos</span></a></li>
          <li><a href="#proyectosport" id="nav-proyectosport" class="group"><span>Proyectos - Portafolio</span></a></li>
          <li><a href="#pasatiempos" id="nav-pasatiempos" class="group"><span>Pasatiempos</span></a></li>
          <li><a href="#articulos" id="nav-articulos" class="group"><span>Articulos</span></a></li>
          <li><a href="#contacto" id="nav-contacto" class="group"><span>Contacto</span></a></li>
        </ul>
      </nav>
      <div class="content style-title" id="inicio">
				<div class="vertical-center-title">
					<h1>CAROLINA GÓMEZ TREJOS</h1>
	        <h3>Estudiante Ingenieria de Sistemas y Computación.</h3>
				</div>
      </div>
      <div class="content" id="info">
	      <h2 class=left>Carolina Gómez Trejos</h2>
				<div class="row vertical-center">
					<div class="left col-4"><img class="circular" src="../../public/images/carogt.jpg"/></div>
		      <div class="justifyText col-8">
		        <p> Soy estudiante de Ingenieria de Sistemas y Computación de la Universidad Tecnológica de Pereira
		  			Me gusta leer, programar (hace 2 años participo en las maratones de programación competitiva), nadar y me encanta ir a cine.
		  			El lenguaje de programación que más me gusta es c++, pero también programo en python y java. </p>

            <div class="row">
              <div class="col-6">
                <a href="https://www.facebook.com/Caro.gomez.t"> <img class="img-size" src ="../../public/images/facebook.png"></a>
                <a href="https://github.com/carogomezt"><img class="img-size" src ="../../public/images/github.png"></a>
              </div>
              <div class="col-6">
                <a href="#contacto" class="button">Contacto</a>
              </div>
            </div>
	      	</div>
				</div>
      </div>
      <div class="content" id="habilidades">
        <h2 class=left>Habilidades</h2>
				<div class="row vertical-center">
          <div class="row">
            <div class="col-3">
              <h2>C++</h2>
              <progress max="100" value="80">
                <div class="progress-bar">
                    <span style="width: 80%;">80%</span>
                </div>
              </progress>
            </div>
          </div>
          <progress max="100" value="80">
            <div class="progress-bar">
                <span style="width: 80%;">80%</span>
            </div>
          </progress>
					<progress max="100" value="80"></progress>
          <progress max="100" value="80"></progress>
				</div>
      </div>
      <div class="content" id="educacion">
        <h2 class=left>Educación</h2>
				<div class="row vertical-center">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				</div>
      </div>
      <div class="content" id="cursos">
        <h2 class=left>Cursos</h2>
				<div class="row vertical-center">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				</div>
      </div>
      <div class="content" id="proyectosport">
        <h2 class=left>Proyectos - Portafolio</h2>
				<div class="row vertical-center">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				</div>
      </div>
      <div class="content" id="pasatiempos">
        <h2 class=left>Pasatiempos</h2>
				<div class="row vertical-center">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				</div>
      </div>
      <div class="content" id="articulos">
        <h2 class=left>Articulos</h2>
				<div class="row vertical-center">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				</div>
      </div>
      <div class="content" id="contacto">
        <h2 class=left>Contacto</h2>
        <div class=" left vertical-center">
					<div class="row">
						<div class="col-6">
							<input type="text" placeholder="Nombre" >
						</div>
						<div class="col-6">
							<input type="text" placeholder="Correo" ><br><br>
						</div>
					</div>
					<div class="row">
						<textarea cols="20" rows="10" class="text-description" placeholder="Mensaje"></textarea><br>
					</div>
					<div class="center">
            <button type="submit">Enviar</button>
          </div>
        </div>
      </div>
			<div class="footer">
				info@jointDevelopers.co
			</div>
    </div>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
		<script type="text/javascript" src="../../public/js/getPath.js">
		</script>
  </body>
</html>
