<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="../../public/stylesheet/perfiles.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Linden+Hill:400italic' rel='stylesheet' type='text/css'>

    <title>Perfiles</title>
  </head>
  <body>
    <div class="container center">
      <div class="nav-bar ">
        <nav class="container_nav">
          <label for="show-menu" class="show-menu"><a id="logo-nav-responsive">jointDeveloper</a></label>
        <input type="checkbox" id="show-menu" role="button">
          <ul class="topnav border" id="menu">
            <li><a id="logo-nav" href="">jointDeveloper</a></li>
            <li><a href="../../index.html"><span>Inicio</span></a></li>
            <li><a href="../../views/about.html"><span>Quienes Somos</span></a></li>
            <li><a href="../../views/perfiles.html"><span>Perfiles</span></a></li>
            <li><a href="../../views/portafolio.html"><span>Portafolio</span></a></li>
            <li><a href=""><span>Galerias</span></a></li>
            <li><a href="../../views/comunidad.html"><span>Comunidad</span></a></li>
            <li><a href="../../views/blog.html"><span>Blog</span></a></li>
            <li><a href="../../views/apoyanos.html"><span>Apóyanos</span></a></li>
            <li><a href="../../views/contacto.html"><span>Contacto</span></a></li>
          </ul>
        </nav>
      </div>

      <div class="content style-title">
        <br><br><br>
        <h1>CAROLINA GÓMEZ TREJOS</h1>
        <h3>Estudiante Ingenieria de Sistemas y Computación.</h3>
        <br><br><br>
      </div>
      <div class="content col-11">
          <h2 class=left>Carolina Gómez Trejos</h2>
          <div class="left col-4"><img class="circular" src="../../public/images/carogt.jpg"/></div>
          <div class="justifyText col-6">
            <p> Soy estudiante de Ingenieria de Sistemas y Computación de la Universidad Tecnológica de Pereira
      			Me gusta leer, programar (hace 2 años participo en las maratones de programación competitiva), nadar y me encanta ir a cine.
      			El lenguaje de programación que más me gusta es c++, pero también programo en python y java. </p>
            <a href="https://www.facebook.com/Caro.gomez.t"> <img class="img-size" src ="../../public/images/facebook.png"></a>
            <a href="https://github.com/carogomezt"><img class="img-size" src ="../../public/images/github.png"></a>
            <a href="#contacto" class="button">Contacto</a>
          </div>

      </div>
      <div class="content">
        <h2 class=left>Habilidades</h2>
      </div>
      <div class="content">
        <h2 class=left>Educación</h2>
      </div>
      <div class="content">
        <h2 class=left>Cursos</h2>
      </div>
      <div class="content">
        <h2 class=left>Proyectos - Portafolio</h2>
      </div>
      <div class="content">
        <h2 class=left>Pasatiempos</h2>
      </div>
      <div class="content">
        <h2 class=left>Articulos</h2>
      </div>
      <div class="content" id="contacto">
        <h2 class=left>Contacto</h2>
        <div class="left">
          <input type="text" placeholder="Nombre" >
          <input type="text" placeholder="Correo" ><br><br>
          <textarea cols="20" rows="10" class="text-description" placeholder="Mensaje"></textarea><br>
        </div>
          <div class="right">
            <button type="submit">Enviar</button>
          </div>

      </div>
      <div class="footer">
        info@jointDevelopers.co
      </div>
    </div>

  </body>
</html>
