<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="../../public/stylesheet/perfiles.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <title>Perfiles</title>
  </head>
  <body>
    <div class="container center">

        <nav class="clearfix">
          <ul class="clearfix">
      			<li><a href="../../index.html">Inicio</a></li>
      			<li><a href="">Quienes Somos</a></li>
      			<li><a href="">Perfiles</a></li>
            <li><a href="">Portafolio</a></li>
            <li><a href="">Galerias</a></li>
            <li><a href="">Comunidad</a></li>
            <li><a href="">Apóyanos</a></li>
  		    </ul>
          <a href="#" id="pull">Menu</a>
        </nav>

      <div class="content style-title">
          <h1>Carolina Gómez Trejos</h1>
          <h2>Estudiante Ingenieria de Sistemas y Computación.</h2>
      </div>
      <div class="content">
          Carolina Gómez Trejos
          Foto
          Descripcion
          Botones
      </div>
      <div class="content">
          Habilidades
      </div>
      <div class="content">
          Educacion
      </div>
      <div class="content">
          Cursos
      </div>
      <div class="content">
          Proyectos - Portafolio
      </div>
      <div class="content">
          Pasatiempos
      </div>
      <div class="content">
          Articulos
      </div>
      <div class="content">
          Contacto
          Nombre-correo
          Mensaje
          Botones
      </div>
      <div class="footer">
        info@jointDevelopers.co
      </div>
    </div>

  </body>
</html>
