<!DOCTYPE html>
<html lang="es">

  <head>
    <meta charset="utf-8" />
    <title>Tatiana Amariles</title>
	<link rel="stylesheet" href="../../public/stylesheet/styleTatiana.css">
  </head>

  <body>
	<!-- Cabecera -->
	<header>
		<h1>Tatiana Amariles</h1>
    </header>

	<!-- Contenido -->
    <section>
		<img id="imagen_centrada" src="../../public/images/tatiana.jpg" />
		<h2>Descripcíon</h2>
		<p>Soy ingeniera en sistemas y computación, alegre y muy optimista.</p>
		<h2>Gustos</h2>
		<p>Me gusta aprender cosas nuevas, soy amante de la poesia, el vino y un buen café</p>
    </section>

	<!-- Pie de pagina -->
	<footer>
		<h2>Contacto</h2>
		<a href="https://www.facebook.com/tatis.amariles">Facebook</a>
	</footer>

  </body>

</html>
