<!DOCTYPE html>
<head>
	<meta charset="utf-8">
	<title>Yen Gomez </title>
	<link rel="stylesheet" type="text/css" href="../../public/stylesheet/stilo.css">
</head>

<body>
	<div class="ejemplo">
		<header>
			<h1>Yen Gómez Villegas </h1>
			<img src="../../public/images/yenFoto.jpg" width="200" height="200" border="4">
			<p ALIGN=Right>Soy ingeniera de sistemas y computación, actualmente candidata a magister; estudie en la Universidad Tecnológica de Pereira <a href="http://www.utp.edu.co/"> UTP</a></p>

			<p ALIGN=left>Me gusta la natación, la danza, mi comida favorita son los spaquettis, amo los computadores y los gatos </p>
			<p ALIGN=left>Mis habilidades me gusta aprender, enseñar, programar en C, CUDA, OpenCL.</p>

			<p ALIGN=center> <B>Contactos</B></p>
			<center><a href="https://github.com/YensyGomez"><img src="../../public/images/githubicono.jpeg" width="120" height="120" ></a></center>
			<center><a><img src="../../public/images/correo.jpeg" width="50" height="50"></a></center>
			<p ALIGN=center>yensy@sirius.utp.edu.co</p>



		</header>

	 </div>

</body>
