html, body{
  height:100%;
  width: 100%;
  max-width: 1024px;
  margin:auto;
  font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
}

body{
  background-color: #ECE2E2;
}

.nav-bar{
  padding-top: 10px;
  padding-bottom: 20px;
  height: 7%;
  width: 100%;
  /*border-radius: 10px;*/
  background-color: white;
  font-size: 85%;
  /*border-style: solid;*/
  border-color: white;
  position: fixed;
  z-index: 9999; /*Para que se superponga por encima de todos los elementos*/
}

.nav-bar li a{
  background-color: #81c784;
  color: black;
  font-weight: bolder;
  text-decoration: none;
  display: block;
  padding: 5px 10px;
  margin: 5px;
  border-radius: 3px;
}

.nav-bar li a:hover { /*cambia de color cuando se pone el mouse encima*/
  background-color: #9ccc65;
}

.nav-bar ul li{ /*que sean directos a ul li*/
  float: left;
  border-right: 1px solid #bbb;
}

ul, ol{
  list-style: none;
}

.ppal .col{
  float: left;
}

.row{
  padding-top: 10px;
  padding-bottom: 20px;
}

.ppal .info{
  font-family: GillSans, Calibri, Trebuchet, sans-serif;
  margin-top: 50px;
  width: 40%;
}

.col .img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  width: 60%;
}

.circular{
  width: 300px;
  height: 300px;
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
}

#title{
  padding-top: 15px;
  padding-bottom: 15px;
  height: 10%;
  border-radius: 10px;
  background-color: #81c784;
  font-size: 85%;
  border-style: solid;
  border-color: #006064;
  text-align: center;
}

.container {
  padding-top: 10px;
  padding-bottom: 10px;
  height: 70%;
  border-radius: 10px;
  background-color: #e8f5e9;
  font-size: 85%;
  border-style: solid;
  border-color: #006064;
}

.grid {

  display: grid;

  grid-columns: auto 100px 1fr 2fr;
  grid-rows: 50px 5em auto;

}

.foot{
  height: 10%;
  background-color: #81c784;
  text-align: center;
  color: black;
  vertical-align: middle;
  border-radius:10px;
  margin-top: 10px;
  border: solid;
  border-color: #006064;
  padding-top: 10px;
  padding-bottom: 10px;
}
