html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 17px;
  background-color: #fff;
  font-family: 'Lato', sans-serif;
}

[class*="col-"] {
  float: left;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.first-row {margin-top: 50px;}

.content {
  content: "";
  clear: both;
  display: block;
  background-color: white;
  margin: 10px auto;
  padding: 10px;
  width: 90%;
	height: 95%;
  padding-top: 5%;

}
.container{
  max-width: 100%;
  margin: 10px auto;
  background-color:  #fff;
  height: 100%;
}
.center {
  text-align: center;
}
.left {
  text-align: left;
}

.footer {
	height: 30%;
  background-color: #333;
  padding: 10px;
  color: white;
}

#logo-nav, #logo-nav-responsive {
  font-family: 'Linden Hill', serif;
  font-size: 35px;
  font-weight: bold;
  border-bottom: 0;
  padding: 0px;
}

ul.topnav {
	width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #444;
  position: fixed;
  top: 0px;
  z-index: 9999;
}

ul.topnav li {
  float: left;
  }

ul.topnav li a {
  display: block;
  color: #fff;
  text-align: center;
  padding: 14px 15px;
  text-decoration: none;
}
a {
  color: black;
}

ul.topnav li a:hover:not(.active) {
  color: #f06292;
  font-weight: bold;
  border-bottom: 2px solid #f06292;
}

ul.topnav li a.active {
	color: #f06292;
  background-color: #444;
	font-weight: bold;
	border-bottom: 2px solid #f06292;
}

ul.topnav ul.right {
  float: right;
  list-style-type: none;
}


@font-face {
  font-family: Cinzel;
  src: url(../../public/fonts/Cinzel/Cinzel-Regular.ttf);
}

.style-title {
  font-family: 'Linden Hill', serif;
	text-align: center;
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

img {
    max-width:70%;

}
.circular {
    border-radius: 50%;
    border:3px solid #f06292;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}

.justifyText{
text-align : justify;
}

.cursiva {
  font-style: oblique;
}

.img-size {
  width:32px;
  height:32px;
}

.right {
  text-align: right;
}

.button {
  background-color: white;
  border: 2px solid #f06292;
  border-radius: 8px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
  position: relative;
}


.button:hover {
  background-color: #f06292;
  color: white;

}


textarea {
  width: 100%;
  resize: none
}

input,textarea {
  border: 2px solid #DBE1EB;
  font-size: 15px;
  font-family: "Lato", Helvetica, Arial, sans-serif;
  padding: 5px;
  width: 90%;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  transition-duration: 0.5s;
  background: #F7F9FA;
  color: #2E3133;
}

.text-description {
  font-size: 15px;
  font-family: "Lato", Helvetica, Arial, sans-serif;
  padding: 10px;
  width: 95%;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  background: #eff0f2;
  color: #2E3133;
}
input:focus, textarea:focus {
  color: #2E3133;
  border: 2px solid #f06292;
  outline:0px;
}

button {
  background-color: white;
  border: 2px solid #f06292;
  border-radius: 8px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
  position: relative;
}

button:hover {
  background-color: #f06292;
  color: white;
}

#contacto {
	height: 70%;
}

.vertical-center-title {
  position: relative;
  top: 40%;
  -ms-transform: translateY(-40%);
  -webkit-transform: translateY(-40%);
  transform: translateY(-40%);
}

.vertical-center {
  position: relative;
  top: 25%;
  -ms-transform: translateY(-25%);
  -webkit-transform: translateY(-25%);
  transform: translateY(-25%);
}

progress[value] {
  /* Reset the default appearance */
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  
  /* Get rid of default border in Firefox. */
  border: none;
  
  /* Dimensions */
  width: 250px;
  height: 20px;

  /* For IE10 */
  color: #f06292;
}

progress[value]::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

progress[value]::-webkit-progress-value {
  background-image:
    -webkit-linear-gradient(-45deg, 
                           transparent 33%, rgba(0, 0, 0, .1) 33%, 
                           rgba(0,0, 0, .1) 66%, transparent 66%),
    -webkit-linear-gradient(top, 
                           rgba(255, 255, 255, .25), 
                           rgba(0, 0, 0, .25)),
    -webkit-linear-gradient(left, #f06292, #ec407a);
  border-radius: 2px; 
  background-size: 35px 20px, 100% 100%, 100% 100%;  
}

progress[value]::-moz-progress-bar { 
  background-image:
    -moz-linear-gradient(
      135deg, 
      transparent 33%, 
      rgba(0, 0, 0, 0.1) 33%, 
      rgba(0, 0, 0, 0.1) 66%, 
      transparent 66% 
    ),
    -moz-linear-gradient(
      top, 
      rgba(255, 255, 255, 0.25), 
      rgba(0, 0, 0, 0.25)
    ),
    -moz-linear-gradient(
      left, 
      #f06292, 
      #ec407a
    );
  border-radius: 2px; 
  background-size: 35px 20px, 100% 100%, 100% 100%; 
}

.progress-bar {
  background-color: whiteSmoke;
  border-radius: 2px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25) inset;
  width: 250px;
  height: 20px;  
  position: relative;
  display: block;
}
  
.progress-bar > span {
  background-color: #f06292;
  border-radius: 2px;
  display: block;
  text-indent: -9999px;
}

/*Iconos*/

.facebook {
  background-image: url(../../public/images/icons/template/facebook.png);
  background-position:top left;
  background-repeat:no-repeat;
  background-attachment:fixed;
  width:150px;
  height:150px;
  display:block;
}
