<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>About</title>
	<link href="../public/stylesheet/about.css" rel="stylesheet">
</head>
<body>
	<div class="header center">
		<img src="http://static.tumblr.com/a090db6d7fa32417d79f399cf6c373b4/swxhrm0/E2In81mbi/tumblr_static_e2n20ijrtcocsk4ockk0s0gck.png" id="imagen1">
	</div>
 	<div class="container-center">
 		<div class="nav-bar">
 			<nav class="container_nav">
          		<label for="show-menu" class="show-menu"><a id="logo-nav-responsive">jointDeveloper</a></label>
        		<input type="checkbox" id="show-menu" role="button">
          		<ul class="topnav border" id="menu">
            	<li><a id="logo-nav" href="">jointDeveloper</a></li>
            	<li><a href="../../index.html"><span>Inicio</span></a></li>
            	<li><a href="../../views/about.html"><span>Quienes Somos</span></a></li>
            	<li><a href="../../views/perfiles.html"><span>Perfiles</span></a></li>
            	<li><a href="../../views/portafolio.html"><span>Portafolio</span></a></li>
            	<li><a href=""><span>Galerias</span></a></li>
            	<li><a href="../../views/comunidad.html"><span>Comunidad</span></a></li>
            	<li><a href="../../views/blog.html"><span>Blog</span></a></li>
            	<li><a href="../../views/apoyanos.html"><span>Apóyanos</span></a></li>
            	<li><a href="../../views/contacto.html"><span>Contacto</span></a></li>
          		</ul>
        	</nav>
 		</div>
 	</div>
	<div class="container"></div>
	<div class="container" id="youtube-container" style="text-align:center;">
		<iframe width="560" height="315" src="https://www.youtube.com/embed/mFPg96gdPkc" frameborder="0" allowfullscreen id="youtube-video" style="display: block; margin: 0 auto;"></iframe>
	</div>
	<footer>
	  <em>
	    <p>JointDeveloper. 2016</p>
	    <p> &copy; Todos los derechos reservados. </p>
	    <br><br>
	  </em>
  </footer>
</body>
</html>
