<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>About</title>
	<link href="../public/stylesheet/about.css" rel="stylesheet">
</head>
<body>
	<div class="header">¿Quienes somos?</div>
	<div class="container">
	<h2 class=left>Acerca de</h2>

				<p> La idea de esta comunidad es crear igualdad de genero en areas de tecnológia </p>
            

  </div>

	<footer>
	  <em>
	    <p>JointDeveloper. 2016</p>
	    <p> &copy; Todos los derechos reservados. </p>
	    <br><br>
	  </em>
  </footer>

</body>
</html>
