<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>jointDeveloper</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/grayscale.css" rel="stylesheet">
    <!-- <link rel="shortcut icon" href="/img/favicon.ico"> -->

    <!-- Custom Fonts -->
    <link href="font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Linden+Hill:400i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald:300,400" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

  </head>
  <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
            <i class="fa fa-bars"></i>
          </button>
          <a class="navbar-brand page-scroll" href="#page-top">jointDeveloper</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
          <ul class="nav navbar-nav">
            <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
            <li class="hidden">
              <a href="#page-top"></a>
            </li>
            <li>
              <a class="page-scroll" href="#about">Acerca de</a>
            </li>
            <li>
              <a class="page-scroll" href="#event">Eventos</a>
            </li>
            <li>
              <a class="page-scroll" href="#comunity">Comunidad</a>
            </li>
            <li>
              <a class="page-scroll" href="#blog">Blog</a>
            </li>
            <li>
              <a class="page-scroll" href="#contact">Contacto</a>
            </li>
          </ul>
        </div>
        <!-- /.navbar-collapse -->
      </div>
      <!-- /.container -->
    </nav>

    <!-- Intro Header -->
    <header class="intro">
      <div class="intro-body">
        <div class="container">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <%# <div><img src = "img/nodeschool.svg" style = "width: 300px"/></div>%>
              <h1 class="brand-heading">
                Nodeschool Pereira<br>
                <a href="http://jointdeveloper.com" target="_blank" class="jointDeveloper">jointDeveloper</a>
              </h1>
              <p class="intro-text">Aprende a programar con Node.js.</p>
              <p class="intro-text">
                Sábado 5 de Noviembre del 2016, 8:00AM-5:00PM<br>
                Universidad Tecnológica de Pereira</p>
              <a href="#about" class="btn btn-circle page-scroll">
                <i class="fa fa-angle-double-down animated"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- About Section -->
    <div class="about">
      <section id="about" class="container content-section text-center">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <h1>Acerca de</h1>
          <p>Somos una comunidad que busca generar interés en la   mujer en áreas programación y tecnológia, por medio de espacios diversos que promueva su participación.
          </p>
          <p>Esta comunidad comparte conocimientos y recursos técnicos que ayudan a crear una red de intercambio con otras comunidades fortaleciendo nuestra formación y contribuyendo al desarrollo tecnológico.
          </p>
        </div>
        <div class="col-lg-8 col-lg-offset-2">
          <h1>Miembros</h1>
            <% let i = 0; %>
            <%  for (profile in profiles) { %>
              <% if(i % 4 === 0) { %>
                <div class="row">
              <% } %>
              <div class="col-lg-3 col-sm-6 col-xs-6">
                <img src="<%= profiles[profile].img %>" class="profileImg" alt="" />
                <h4><%= profiles[profile].name %></h4>
              </div>
              <% if(i % 4 === 3) { %>
                </div>
              <% } %>
            <% i++; %>
            <% } %>
          </div>
        </div>
        <div class="col-lg-8 col-lg-offset-2">
          <div class="col-lg-4 col-sm-6 col-xs-6 col-lg-offset-4 col-sm-offset-3 col-xs-offset-3">
            <img src="/img/profile/profile.svg" class="profileImg" alt="" />
          </div>
        </div>
        <div class="col-lg-8 col-lg-offset-2">
          <div class="col-lg-12 col-sm-12 col-xs-12">
          <h4>
            <b>Tú</b><br />
            También puedes ser parte de nuestra Comunidad<br />
            <a href="#"><b>Más información</b></a>
          </h4>
          </div>
        </div>
      </div>
    </section>
    </div>
    <!-- Register Section -->
    <div class="event">
      <section id="event" class="content-section text-center">
        <div class="container">
          <div class="col-lg-8 col-lg-offset-2">
            <h1>Eventos</h1>
            <p>Realizamos charlas mensuales sobre diferentes temas para incentivar y animar a más personas a que hagan parte de esta comunidad.
            </p>
            <p>Descubre los eventos que hemos realizado y anímate a ser parte de ellos.</p>
          </div>
        </div>
      </section>
    </div>

    <!-- Contact Section -->
    <section id="comunity" class="container content-section text-center">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <h1>Comunidad</h1>
          <p>Si tienes dudas, preguntas o comentarios, por favor escribenos!
          <div class="col-lg-6">
            <br>Comunidad de aprendizaje del lenguaje JavaScript: PereiraJS<p>
            <p>
              <a href="http://pereirajs.org" target="_blank"><i class="fa fa-globe" aria-hidden="true"></i>
 pereirajs.org</a>
              <br><a href="mailto:info@pereirajs.org"><i class="fa fa-envelope" aria-hidden="true"></i>
 info@pereirajs.org</a>
              <br><a href="https://facebook.com/javascriptpereira" target="_blank"><i class="fa fa-facebook-square" aria-hidden="true"></i> /javascriptpereira</a>
              <br><a href="https://twitter.com/pereirajs_" target="_blank"><i class="fa fa-twitter-square" aria-hidden="true"></i> @PereiraJS_</a>
              <br><a href="https://instagram.com/pereirajs_" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i> /pereirajs_</a>
            </p>
          </div>
          <div class="col-lg-6">
            <br>Comunidad <div class="jointDeveloper" style="color: #fff; font-size: 25px;">jointDeveloper</div><p>
            <p>
              <a href="http://jointdeveloper.com" target="_blank"><i class="fa fa-globe" aria-hidden="true"></i> Web jointDeveloper</a>
              <br><a href="mailto:developerjoint@gmail.com"><i class="fa fa-envelope" aria-hidden="true"></i>
 developerjoint@gmail.com</a>
              <br><a href="https://facebook.com/jointdeveloper" target="_blank"><i class="fa fa-facebook-square" aria-hidden="true"></i>
 /jointDeveloper</a>
              <br><a href="https://twitter.com/jointdev" target="_blank"><i class="fa fa-twitter-square" aria-hidden="true"></i> @jointdev</a>
              <br><a href="https://instagram.com/jointdeveloper" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i> /jointdeveloper</a>
            </p>
          </div>
        </div>
      </div>
    </section>

    <!-- Map Section -->
    <div class="blog">
      <section id="blog" class="container content-section text-center">
        <div class="col-lg-8 col-lg-offset-2">
          <h1>Blog</h1>
        </div>
      </section>
    </div>

    <!-- Footer -->
    <footer>
      <section id="contact" class="container content-section text-center">
        <div class="col-lg-8 col-lg-offset-2">
          <h1>Contacto</h1>
        </div>
      </section>
    </footer>

    <!-- jQuery Version 1.11.0 -->
    <script src="js/jquery-1.11.0.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="js/jquery.easing.min.js"></script>

    <!-- Google Maps API Key - Use your own API key to enable the map feature. More information on the Google Maps API can be found at https://developers.google.com/maps/ -->
    <!-- <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA58q2BYIJqsv8FOT5Rhh_3pXWnrPgmoZs"></script>-->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key= AIzaSyAwKTx32i9LUE1KGf3TY5cQ7DQuGfRGgeM "></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/grayscale.js"></script>

  </body>

</html>
