<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Nodeschool: Pereira, Colombia</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/grayscale.css" rel="stylesheet">
    <link rel="shortcut icon" href="/img/favicon.ico">

    <!-- Custom Fonts -->
    <link href="font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Linden+Hill:400i" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

  </head>

  <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
            <i class="fa fa-bars"></i>
          </button>
          <a class="navbar-brand page-scroll" href="#page-top">
            Nodeschool <span class="light">Pereira</span><br>
          </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
          <ul class="nav navbar-nav">
            <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
            <li class="hidden">
              <a href="#page-top"></a>
            </li>
            <li>
              <a class="page-scroll" href="#about">Acerca de</a>
            </li>
            <li>
              <a class="page-scroll" href="#register">Registrarse</a>
            </li>
            <li>
              <a class="page-scroll" href="#contact">Contacto</a>
            </li>
            <li>
              <a class="page-scroll" href="#map">Mapa</a>
            </li>
            <li>
              <a href="conduct.html">Código de Conducta</a>

            </li>
          </ul>
        </div>
        <!-- /.navbar-collapse -->
      </div>
      <!-- /.container -->
    </nav>

    <!-- Intro Header -->
    <header class="intro">
      <div class="intro-body">
        <div class="container">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <div><img src = "img/nodeschool.svg" style = "width: 300px"/></div>
              <h1 class="brand-heading">
                Nodeschool Pereira<br>
                <a href="http://jointdeveloper.com" target="_blank" class="jointDeveloper">jointDeveloper</a>
              </h1>
              <p class="intro-text">Aprende a programar con Node.js.</p>
              <p class="intro-text">
                Sábado 5 de Noviembre del 2016, 8:00AM-5:00PM<br>
                Universidad Tecnológica de Pereira</p>
              <a href="#about" class="btn btn-circle page-scroll">
                <i class="fa fa-angle-double-down animated"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- About Section -->
    <section id="about" class="container content-section text-center">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <h2>Acerca de Nodeschool Pereira</h2>
          <a href="http://jointdeveloper.com" target="_blank"><h1 class="jointDeveloper" style="color: #fff">jointDeveloper</h1></a>
          <p><a href="http://nodeschool.io" target="_blank"><b>NodeSchool</b></a> es una comunidad mundial que hace eventos
             en más de 200 ciudades en el mundo, los eventos consisten
             en talleres presenciales que son gratis y abiertos a todo público.
          </p>
          <p>Durante el día contaremos con diferentes mentores que estarán
             disponibles para guiar y enseñar a los asistentes a través de
             la serie de retos diseñados para enseñar los fundamentos de
             desarrollo web.
          </p>
        </div>
        <div class="col-lg-8 col-lg-offset-2">
          <h2>Workshops</h2>
          <div class="col-lg-4">
            <img src="/img/logo/git.png" class="logo" alt="" />
            <p class="descripcion">
              <i>"<b>Git</b> es un software de control de versiones diseñado por Linus Tolvas, pensando en la eficiencia y la confiabilidad del mantenimiento de versiones de aplicaciones"</i>
            </p>
          </div>
          <div class="col-lg-4">
            <img src="/img/logo/javascript.png" class="logo" alt="" />
            <p class="descripcion">
              <i>"<b>Javascript</b> es un lenguaje de programación que se puede utilizar para construir sitios Web y para hacerlos más interactivos"</i>
            </p>
          </div>
          <div class="col-lg-4">
            <img src="/img/logo/nodejs.png" class="logo" alt="" />
            <p class="descripcion">
              <i>"<b>Node</b> es un interprete Javascript del lado del servidor. Su meta es permitir a un programador construir aplicaciones altamente escalables"</i>
            </p>
          </div>
        </div>
        <div class="col-lg-8 col-lg-offset-2">
          <h5><i>Presentados por:</i></h5>
          <div class="col-lg-4">
            <img src="/img/profile/oriana.png" class="img-perfil" alt="Oriana Cadavid" />
            <h5>Oriana Cadavid</h5>
            <p class="nombre">
              Estudiante Ing. Física
            </p>
          </div>
          <div class="col-lg-4">
            <img src="/img/profile/jimenez.png" class="img-perfil" alt="Carolina Jiménez" />
            <h5>Carolina Jiménez</h5>
            <p class="nombre">
              Estudiante Ing. Sistemas<br>
              Co-fundadora
            </p>
            <p class="jointDeveloper" style="color: #fff;">
              jointDeveloper
            </p>
          </div>
          <div class="col-lg-4">
            <img src="/img/profile/vega.png" class="img-perfil" alt="Sebastián Vega" />
            <h5>Sebastián Vega</h5>
            <p class="nombre">
              Estudiante Ing. Sistemas
            </p>
          </div>
        </div>
        <div class="col-lg-8 col-lg-offset-2">
          <!-- <p>Los talleres serán dictados en el auditorio de la universidad,
             recomendamos a los asistentes traer sus computadores personales
             con <a href="http://nodejs.org">Node.js</a> previamente instalado,
             para que puedan realizar los tallers correctamente.
          </p> -->
          <p>Todas las edades, niveles de experiencia y conocimiento son
             bienvenidos. No es necesario tener ningún conocimiento previo.
          </p>

          <h3>Nodeschool Pereira</h3>
          <p>
            <b>Sábado Noviembre 5, 8:00AM-5:00PM @ Universidad Tecnológica de Pereira</b>
            <br />
            <a class="page-scroll" href="#register">Regístrate más abajo</a>
          </p>
        </div>
      </div>
    </section>

    <!-- Register Section -->
    <section id="register" class="content-section text-center">
      <div class="download-section">
        <div class="container">
          <div class="col-lg-8 col-lg-offset-2">
            <h2>Interesad@ en Nodeschool Pereira?</h2>
            <p>Sólo tendremos 30 cupos disponibles, es necesario que reserves
               el tuyo lo más pronto posible, te estaremos recordando por
               correo electrónico sobre el evento.
            </p>
            <a href="http://jointdeveloper.com/eventos/nodeschoolGirls" class="btn btn-default btn-lg" target="_blank">Reserva Aquí!</a>
          </div>
        </div>
      </div>
    </section>

    <!-- Contact Section -->
    <section id="contact" class="container content-section text-center">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <h2>Contacto</h2>
          <p>Si tienes dudas, preguntas o comentarios, por favor escribenos!
          <div class="col-lg-6">
            <br>Comunidad de aprendizaje del lenguaje JavaScript: PereiraJS<p>
            <p>
              <a href="http://pereirajs.org" target="_blank"><i class="fa fa-globe" aria-hidden="true"></i>
 pereirajs.org</a>
              <br><a href="mailto:info@pereirajs.org"><i class="fa fa-envelope" aria-hidden="true"></i>
 info@pereirajs.org</a>
              <br><a href="https://facebook.com/javascriptpereira" target="_blank"><i class="fa fa-facebook-square" aria-hidden="true"></i> /javascriptpereira</a>
              <br><a href="https://twitter.com/pereirajs_" target="_blank"><i class="fa fa-twitter-square" aria-hidden="true"></i> @PereiraJS_</a>
              <br><a href="https://instagram.com/pereirajs_" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i> /pereirajs_</a>
            </p>
          </div>
          <div class="col-lg-6">
            <br>Comunidad <div class="jointDeveloper" style="color: #fff; font-size: 25px;">jointDeveloper</div><p>
            <p>
              <a href="http://jointdeveloper.com" target="_blank"><i class="fa fa-globe" aria-hidden="true"></i> Web jointDeveloper</a>
              <br><a href="mailto:developerjoint@gmail.com"><i class="fa fa-envelope" aria-hidden="true"></i>
 developerjoint@gmail.com</a>
              <br><a href="https://facebook.com/jointdeveloper" target="_blank"><i class="fa fa-facebook-square" aria-hidden="true"></i>
 /jointDeveloper</a>
              <br><a href="https://twitter.com/jointdev" target="_blank"><i class="fa fa-twitter-square" aria-hidden="true"></i> @jointdev</a>
              <br><a href="https://instagram.com/jointdeveloper" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i> /jointdeveloper</a>
            </p>
          </div>
        </div>
      </div>
    </section>

    <!-- Map Section -->
    <section id="map" class="container content-section"></section>

    <!-- Footer -->
    <footer>
      <div class="container text-center" style = "font-size: 16px">
        <span style="float: left">
          Nodeschool Pereira es sólo uno de los muchos capítulos de
          <a href = "http://nodeschool.io/chapters.html" target = "_blank">
            nodeschool.io
          </a>.
        </span>
        <span style="float: right">
          Fotos por : <a href="http://pereirajs.org"> PereiraJS </a> + internet!
        </span>
      </div>
    </footer>

    <!-- jQuery Version 1.11.0 -->
    <script src="js/jquery-1.11.0.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="js/jquery.easing.min.js"></script>

    <!-- Google Maps API Key - Use your own API key to enable the map feature. More information on the Google Maps API can be found at https://developers.google.com/maps/ -->
    <!-- <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA58q2BYIJqsv8FOT5Rhh_3pXWnrPgmoZs"></script>-->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key= AIzaSyAwKTx32i9LUE1KGf3TY5cQ7DQuGfRGgeM "></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/grayscale.js"></script>

  </body>

</html>
