body { background: rgb(51, 193, 69); }

.navbar > a { width: 12.5%; }

#nav-inicio        { left: 0%; }
#nav-info          { left: 12.5%; }
#nav-aptitudes     { left: 25.0%; }
#nav-educacion     { left: 37.5%; }
#nav-cursos        { left: 49.99%; }
#nav-proyectosport { left: 62.49%; }
#nav-pasatiempos   { left: 75.0%; }
#nav-contacto      { left: 87.5%; }
