	/*
  	Flaticon icon font: Flaticon
  	Creation date: 19/02/2016 14:45
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-accept:before { content: "\f100"; }
.flaticon-accept-1:before { content: "\f101"; }
.flaticon-advance-button:before { content: "\f102"; }
.flaticon-airplane-black-shape:before { content: "\f103"; }
.flaticon-alphabetical-order-from-a-to-z:before { content: "\f104"; }
.flaticon-ambulance:before { content: "\f105"; }
.flaticon-anchor-interface-symbol:before { content: "\f106"; }
.flaticon-android-logo:before { content: "\f107"; }
.flaticon-android-logo-1:before { content: "\f108"; }
.flaticon-angle-arrow-pointing-down:before { content: "\f109"; }
.flaticon-apple-black-shape-logo-with-a-bite-hole:before { content: "\f10a"; }
.flaticon-arrow-angle-pointing-to-right:before { content: "\f10b"; }
.flaticon-arrow-long-angle-pointing-right:before { content: "\f10c"; }
.flaticon-arrow-pointing-upper-right-in-a-square:before { content: "\f10d"; }
.flaticon-arrows-shuffle-symbol:before { content: "\f10e"; }
.flaticon-asterisk-black-star-shape:before { content: "\f10f"; }
.flaticon-audio-tool-for-head:before { content: "\f110"; }
.flaticon-baby-cradle-silhouette:before { content: "\f111"; }
.flaticon-back:before { content: "\f112"; }
.flaticon-backward-arrows-couple:before { content: "\f113"; }
.flaticon-barcode-square-variant:before { content: "\f114"; }
.flaticon-bars-interface-symbol:before { content: "\f115"; }
.flaticon-basketball-ball-outline:before { content: "\f116"; }
.flaticon-bell-black-tool-shape:before { content: "\f117"; }
.flaticon-bell-outline:before { content: "\f118"; }
.flaticon-birthday-cake-of-three-cakes:before { content: "\f119"; }
.flaticon-bitbucket-logo:before { content: "\f11a"; }
.flaticon-bitbucket-logo-1:before { content: "\f11b"; }
.flaticon-bitcoin-symbol:before { content: "\f11c"; }
.flaticon-black-back-closed-envelope-shape:before { content: "\f11d"; }
.flaticon-black-folder-interface-symbol:before { content: "\f11e"; }
.flaticon-black-hand-finger-pointing-up:before { content: "\f11f"; }
.flaticon-black-rounded-square-shape:before { content: "\f120"; }
.flaticon-black-square-shape:before { content: "\f121"; }
.flaticon-book-gross-black-shape:before { content: "\f122"; }
.flaticon-bookmark-black-shape:before { content: "\f123"; }
.flaticon-box-from-side-view:before { content: "\f124"; }
.flaticon-broken-link-interface-symbol-of-chain-links-with-a-slash:before { content: "\f125"; }
.flaticon-bug-variant-of-circular-shape-with-spots:before { content: "\f126"; }
.flaticon-building-shape:before { content: "\f127"; }
.flaticon-calendar:before { content: "\f128"; }
.flaticon-call-black-auricular-shape:before { content: "\f129"; }
.flaticon-call-symbol-of-an-auricular-in-a-square:before { content: "\f12a"; }
.flaticon-camping:before { content: "\f12b"; }
.flaticon-camping-tent:before { content: "\f12c"; }
.flaticon-cardinal-points-star-of-a-circle-with-four-triangles:before { content: "\f12d"; }
.flaticon-center-alignment-symbol:before { content: "\f12e"; }
.flaticon-check-mark-sign:before { content: "\f12f"; }
.flaticon-checkered-flag-on-a-pole:before { content: "\f130"; }
.flaticon-circle-outline-with-a-central-dot:before { content: "\f131"; }
.flaticon-circle-shape:before { content: "\f132"; }
.flaticon-circular-arrow:before { content: "\f133"; }
.flaticon-circular-arrow-line:before { content: "\f134"; }
.flaticon-circular-arrows-couple:before { content: "\f135"; }
.flaticon-circular-stairs-from-top-view:before { content: "\f136"; }
.flaticon-clapper-for-cinema-filming:before { content: "\f137"; }
.flaticon-clipboard-and-paper-sheet:before { content: "\f138"; }
.flaticon-clock-circular-outline:before { content: "\f139"; }
.flaticon-close-cross-sign-in-a-square-button:before { content: "\f13a"; }
.flaticon-cloud-black-shape:before { content: "\f13b"; }
.flaticon-code-interface-symbol-of-signs:before { content: "\f13c"; }
.flaticon-coffee-hot-black-cup-of-rounded-shapes:before { content: "\f13d"; }
.flaticon-commercial-label-black-shape:before { content: "\f13e"; }
.flaticon-compass-tool:before { content: "\f13f"; }
.flaticon-compass-tool-1:before { content: "\f140"; }
.flaticon-connection-interface-symbol-of-three-circles-with-lines-unions:before { content: "\f141"; }
.flaticon-contrast-interface-circular-symbol-half-black-half-white:before { content: "\f142"; }
.flaticon-control-of-rectangular-shape:before { content: "\f143"; }
.flaticon-credit-card-back-view:before { content: "\f144"; }
.flaticon-crop-interface-symbol:before { content: "\f145"; }
.flaticon-cross-sign:before { content: "\f146"; }
.flaticon-currency-symbol:before { content: "\f147"; }
.flaticon-daily-calendar-empty-page:before { content: "\f148"; }
.flaticon-delete-cross-interface-symbol:before { content: "\f149"; }
.flaticon-descendant-arrow-angle:before { content: "\f14a"; }
.flaticon-diamond-ring-shape:before { content: "\f14b"; }
.flaticon-dice-on-three-face:before { content: "\f14c"; }
.flaticon-discapacity-wheels-chair-circular-sign:before { content: "\f14d"; }
.flaticon-dislike-hand-symbol:before { content: "\f14e"; }
.flaticon-dollar-bill:before { content: "\f14f"; }
.flaticon-dollar-symbol:before { content: "\f150"; }
.flaticon-double-left-arrows-angles:before { content: "\f151"; }
.flaticon-down-arrow:before { content: "\f152"; }
.flaticon-down-arrow-1:before { content: "\f153"; }
.flaticon-down-arrow-black-triangular-variant-symbol:before { content: "\f154"; }
.flaticon-down-arrow-in-a-circle:before { content: "\f155"; }
.flaticon-down-arrow-in-a-circle-1:before { content: "\f156"; }
.flaticon-down-arrow-in-a-circle-2:before { content: "\f157"; }
.flaticon-down-arrow-triangle-in-a-square-of-gross-line:before { content: "\f158"; }
.flaticon-down-black-arrow:before { content: "\f159"; }
.flaticon-download-arrow:before { content: "\f15a"; }
.flaticon-download-from-internet-interface-symbol:before { content: "\f15b"; }
.flaticon-drop-shape:before { content: "\f15c"; }
.flaticon-dropbox-logo:before { content: "\f15d"; }
.flaticon-edit-interface-symbol-of-square-paper-with-a-pencil:before { content: "\f15e"; }
.flaticon-euro-currency-sign:before { content: "\f15f"; }
.flaticon-exclamation-sign:before { content: "\f160"; }
.flaticon-exclamation-sign-1:before { content: "\f161"; }
.flaticon-exclamation-sign-in-a-rhomb:before { content: "\f162"; }
.flaticon-eye-opened-shape-with-signal-connection-lines:before { content: "\f163"; }
.flaticon-facebook-letter-logo:before { content: "\f164"; }
.flaticon-facebook-logo:before { content: "\f165"; }
.flaticon-fast-forward:before { content: "\f166"; }
.flaticon-fast-forward-multimedia-control-arrows:before { content: "\f167"; }
.flaticon-female-silhouette:before { content: "\f168"; }
.flaticon-file-black-paper-sheet-interface-symbol:before { content: "\f169"; }
.flaticon-file-gross-interface-symbol:before { content: "\f16a"; }
.flaticon-file-gross-outline-interface-symbol:before { content: "\f16b"; }
.flaticon-file-interface-symbol:before { content: "\f16c"; }
.flaticon-film-clapperboard:before { content: "\f16d"; }
.flaticon-film-strip-of-cinema-symbol:before { content: "\f16e"; }
.flaticon-fire-extinguisher-black-tool-shape:before { content: "\f16f"; }
.flaticon-fire-gross-flame-black-symbol:before { content: "\f170"; }
.flaticon-fire-with-logs-cross:before { content: "\f171"; }
.flaticon-first-aid-kit-box-with-cross-sign:before { content: "\f172"; }
.flaticon-flag-black-tool-shape:before { content: "\f173"; }
.flaticon-flag-of-rectangle-outline-on-a-pole:before { content: "\f174"; }
.flaticon-flask-glass-container-with-liquid-inside:before { content: "\f175"; }
.flaticon-flickr-logo-variant-of-two-dots-in-a-rounded-square:before { content: "\f176"; }
.flaticon-floppy-disk-interface-symbol-for-save-option-button:before { content: "\f177"; }
.flaticon-flower-with-ribbon-tails:before { content: "\f178"; }
.flaticon-folder-black-shape:before { content: "\f179"; }
.flaticon-folder-gross-outline-shape-interface-symbol:before { content: "\f17a"; }
.flaticon-folder-gross-symbol-for-interface:before { content: "\f17b"; }
.flaticon-font-interface-symbol:before { content: "\f17c"; }
.flaticon-four-circles-black-group:before { content: "\f17d"; }
.flaticon-four-horizontal-lines-interface-symbol:before { content: "\f17e"; }
.flaticon-four-squares-black-shapes:before { content: "\f17f"; }
.flaticon-funnel-black-shape-interface-symbol:before { content: "\f180"; }
.flaticon-giftbox-black-variant-with-a-ribbon-on-top:before { content: "\f181"; }
.flaticon-github-logo-face:before { content: "\f182"; }
.flaticon-github-logo-silhouette-in-a-square:before { content: "\f183"; }
.flaticon-glass-black-shape-for-wine:before { content: "\f184"; }
.flaticon-golf-flag-and-field:before { content: "\f185"; }
.flaticon-google-plus-logo:before { content: "\f186"; }
.flaticon-google-plus-square-logo:before { content: "\f187"; }
.flaticon-group-interface-symbol:before { content: "\f188"; }
.flaticon-half-black-star-shape:before { content: "\f189"; }
.flaticon-hand-black-shape-pointing-left-with-one-finger:before { content: "\f18a"; }
.flaticon-hand-finger-pointing-down-like-an-arrow:before { content: "\f18b"; }
.flaticon-hand-finger-pointing-to-right-direction-like-an-arrow:before { content: "\f18c"; }
.flaticon-hard-disc:before { content: "\f18d"; }
.flaticon-heart-black-shape:before { content: "\f18e"; }
.flaticon-heart-in-a-circle:before { content: "\f18f"; }
.flaticon-heart-outline-shape:before { content: "\f190"; }
.flaticon-hide-interface-symbol:before { content: "\f191"; }
.flaticon-home-black-shape:before { content: "\f192"; }
.flaticon-hotel-building:before { content: "\f193"; }
.flaticon-hotel-letter-sign:before { content: "\f194"; }
.flaticon-html-3-logo:before { content: "\f195"; }
.flaticon-html-5-logotype:before { content: "\f196"; }
.flaticon-ice-cream-cone-black-shape:before { content: "\f197"; }
.flaticon-id-card-interface-rectangular-symbol:before { content: "\f198"; }
.flaticon-image-interface-symbol-of-a-landscape:before { content: "\f199"; }
.flaticon-info-letter-interface-sign:before { content: "\f19a"; }
.flaticon-information-sign:before { content: "\f19b"; }
.flaticon-instagram-photo-camera-symbol:before { content: "\f19c"; }
.flaticon-interface-upload-up-arrow-symbol:before { content: "\f19d"; }
.flaticon-italic-text-option-interface-symbol:before { content: "\f19e"; }
.flaticon-jar-black-shape:before { content: "\f19f"; }
.flaticon-key-shape:before { content: "\f1a0"; }
.flaticon-label-black-shape:before { content: "\f1a1"; }
.flaticon-laptop-with-empty-screen:before { content: "\f1a2"; }
.flaticon-leaf-shape:before { content: "\f1a3"; }
.flaticon-leaves-on-a-branch-silhouette:before { content: "\f1a4"; }
.flaticon-left-and-right-small-triangular-arrows-couple:before { content: "\f1a5"; }
.flaticon-left-arrow:before { content: "\f1a6"; }
.flaticon-left-arrow-1:before { content: "\f1a7"; }
.flaticon-left-arrow-2:before { content: "\f1a8"; }
.flaticon-left-arrow-angle:before { content: "\f1a9"; }
.flaticon-left-arrow-angle-variant:before { content: "\f1aa"; }
.flaticon-left-arrow-black-triangular-shape:before { content: "\f1ab"; }
.flaticon-left-arrow-in-a-circle:before { content: "\f1ac"; }
.flaticon-left-arrow-in-a-circle-1:before { content: "\f1ad"; }
.flaticon-left-arrow-in-rounded-shape:before { content: "\f1ae"; }
.flaticon-left-arrow-square:before { content: "\f1af"; }
.flaticon-left-arrow-variant:before { content: "\f1b0"; }
.flaticon-left-quotes-sign:before { content: "\f1b1"; }
.flaticon-left-text-alignment-interface-option:before { content: "\f1b2"; }
.flaticon-legal-hammer:before { content: "\f1b3"; }
.flaticon-lemon-shape:before { content: "\f1b4"; }
.flaticon-less-zoom-sign:before { content: "\f1b5"; }
.flaticon-letter-a-sign-in-a-circle:before { content: "\f1b6"; }
.flaticon-letter-b-symbol:before { content: "\f1b7"; }
.flaticon-level-down-arrow:before { content: "\f1b8"; }
.flaticon-lightbulb-gross-outline:before { content: "\f1b9"; }
.flaticon-lightning-bolt-black-shape:before { content: "\f1ba"; }
.flaticon-like-symbol-for-interface-of-black-hand-shape-with-thumb-up:before { content: "\f1bb"; }
.flaticon-link-interface-symbol:before { content: "\f1bc"; }
.flaticon-linked-in-logo-of-two-letters:before { content: "\f1bd"; }
.flaticon-linkedin-square-logo:before { content: "\f1be"; }
.flaticon-linux-penguin:before { content: "\f1bf"; }
.flaticon-list:before { content: "\f1c0"; }
.flaticon-list-1:before { content: "\f1c1"; }
.flaticon-list-interface-symbol:before { content: "\f1c2"; }
.flaticon-locked-padlock-security-interface-symbol:before { content: "\f1c3"; }
.flaticon-logo-of-striped-rounded-square-speech-bubble-shape:before { content: "\f1c4"; }
.flaticon-magic-wand:before { content: "\f1c5"; }
.flaticon-magnet:before { content: "\f1c6"; }
.flaticon-man-standing-black-silhouette:before { content: "\f1c7"; }
.flaticon-marker-outline:before { content: "\f1c8"; }
.flaticon-maxcdn-letter-logo:before { content: "\f1c9"; }
.flaticon-md:before { content: "\f1ca"; }
.flaticon-medical-tool-to-listen-heart-beats:before { content: "\f1cb"; }
.flaticon-megaphone-silhouette:before { content: "\f1cc"; }
.flaticon-menu-interface-symbol-of-four-horizontal-lines-with-dots:before { content: "\f1cd"; }
.flaticon-menu-interface-symbol-of-three-horizontal-straight-lines:before { content: "\f1ce"; }
.flaticon-message-black-speech-bubble-of-rectangular-shape:before { content: "\f1cf"; }
.flaticon-microphone-voice-interface-symbol:before { content: "\f1d0"; }
.flaticon-microphone-with-slash-interface-symbol-for-mute-audio:before { content: "\f1d1"; }
.flaticon-minus-sign:before { content: "\f1d2"; }
.flaticon-minus-sign-in-a-square:before { content: "\f1d3"; }
.flaticon-minus-sign-in-a-square-1:before { content: "\f1d4"; }
.flaticon-minus-straight-horizontal-line-sign:before { content: "\f1d5"; }
.flaticon-monitor:before { content: "\f1d6"; }
.flaticon-moon-shape:before { content: "\f1d7"; }
.flaticon-music-disc:before { content: "\f1d8"; }
.flaticon-music-discs:before { content: "\f1d9"; }
.flaticon-musical-disc:before { content: "\f1da"; }
.flaticon-musical-note-black-shape:before { content: "\f1db"; }
.flaticon-network-or-hierarchy-graphic:before { content: "\f1dc"; }
.flaticon-new-email-black-back-envelope-symbol-of-interface:before { content: "\f1dd"; }
.flaticon-numbered-list:before { content: "\f1de"; }
.flaticon-opposite-arrows-couple:before { content: "\f1df"; }
.flaticon-order-interface-symbol-with-down-arrow:before { content: "\f1e0"; }
.flaticon-orientation-winds-star-pointing-cardinal-points:before { content: "\f1e1"; }
.flaticon-overflowing-stacked-papers-tray:before { content: "\f1e2"; }
.flaticon-padlock-locked-black-shape:before { content: "\f1e3"; }
.flaticon-paperclip-spiral:before { content: "\f1e4"; }
.flaticon-pause:before { content: "\f1e5"; }
.flaticon-paw-black-shape:before { content: "\f1e6"; }
.flaticon-pencil-black-tool-interface-symbol:before { content: "\f1e7"; }
.flaticon-pencil-in-a-square-interface-symbol-of-gross-outline:before { content: "\f1e8"; }
.flaticon-phone-keys-black-nine-squares:before { content: "\f1e9"; }
.flaticon-phone-shape:before { content: "\f1ea"; }
.flaticon-photo-camera-interface-symbol:before { content: "\f1eb"; }
.flaticon-photo-camera-interface-symbol-1:before { content: "\f1ec"; }
.flaticon-photo-camera-of-square-shape:before { content: "\f1ed"; }
.flaticon-pin-black-tool-shape:before { content: "\f1ee"; }
.flaticon-pinterest-circular-logo-symbol:before { content: "\f1ef"; }
.flaticon-pinterest-letter-logo-in-a-square:before { content: "\f1f0"; }
.flaticon-placeholder:before { content: "\f1f1"; }
.flaticon-placeholder-interface-symbol-for-maps:before { content: "\f1f2"; }
.flaticon-placeholders:before { content: "\f1f3"; }
.flaticon-play-square-button:before { content: "\f1f4"; }
.flaticon-play-triangular-button-symbol-in-a-circle:before { content: "\f1f5"; }
.flaticon-player-play-button-of-circular-shape:before { content: "\f1f6"; }
.flaticon-player-play-button-symbol:before { content: "\f1f7"; }
.flaticon-plus-sign:before { content: "\f1f8"; }
.flaticon-plus-sign-1:before { content: "\f1f9"; }
.flaticon-plus-sign-in-a-square:before { content: "\f1fa"; }
.flaticon-plus-sign-in-a-square-symbol-of-gross-line:before { content: "\f1fb"; }
.flaticon-plus-zoom-interface-symbol:before { content: "\f1fc"; }
.flaticon-power-symbol:before { content: "\f1fd"; }
.flaticon-presentation-screen-tool-outline-symbol:before { content: "\f1fe"; }
.flaticon-print-interface-symbol:before { content: "\f1ff"; }
.flaticon-prohibition-symbol-of-a-circle-with-a-slash:before { content: "\f200"; }
.flaticon-puzzle-piece-black-shape-of-border:before { content: "\f201"; }
.flaticon-qr-code-variant:before { content: "\f202"; }
.flaticon-question-mark-in-circular-shape:before { content: "\f203"; }
.flaticon-question-sign:before { content: "\f204"; }
.flaticon-rails:before { content: "\f205"; }
.flaticon-rectangles-symbol:before { content: "\f206"; }
.flaticon-rectangular-speech-bubble-of-chat:before { content: "\f207"; }
.flaticon-recycle-bin:before { content: "\f208"; }
.flaticon-renren-china-social-network-logo:before { content: "\f209"; }
.flaticon-restaurant-interface-symbol-of-fork-and-knife-couple:before { content: "\f20a"; }
.flaticon-rewind-button:before { content: "\f20b"; }
.flaticon-right-arrow-angle:before { content: "\f20c"; }
.flaticon-right-arrow-angle-and-horizontal-down-line-code-signs:before { content: "\f20d"; }
.flaticon-right-arrow-angle-inside-a-square:before { content: "\f20e"; }
.flaticon-right-arrow-angle-of-two-shapes:before { content: "\f20f"; }
.flaticon-right-arrow-black-shape:before { content: "\f210"; }
.flaticon-right-arrow-black-triangle:before { content: "\f211"; }
.flaticon-right-arrow-black-triangle-1:before { content: "\f212"; }
.flaticon-right-arrow-direction:before { content: "\f213"; }
.flaticon-right-arrow-for-forward-button-gross-symbol:before { content: "\f214"; }
.flaticon-right-arrow-in-a-circle:before { content: "\f215"; }
.flaticon-right-arrow-in-a-circle-1:before { content: "\f216"; }
.flaticon-right-arrow-symbol:before { content: "\f217"; }
.flaticon-right-external-arrow-of-a-square:before { content: "\f218"; }
.flaticon-right-long-black-arrow:before { content: "\f219"; }
.flaticon-right-quotes-symbol:before { content: "\f21a"; }
.flaticon-rounded-square-corners-outline:before { content: "\f21b"; }
.flaticon-rss-feed-suscription-button-symbol-for-interface:before { content: "\f21c"; }
.flaticon-rss-feeds-symbol-in-a-rounded-square:before { content: "\f21d"; }
.flaticon-ruble-currency-sign:before { content: "\f21e"; }
.flaticon-sad-emoticon-face:before { content: "\f21f"; }
.flaticon-serious-emoticon-face:before { content: "\f220"; }
.flaticon-shield-shape-outline:before { content: "\f221"; }
.flaticon-shopping-cart-black-silhouette-rounded-variant:before { content: "\f222"; }
.flaticon-sign:before { content: "\f223"; }
.flaticon-sign-of-lines:before { content: "\f224"; }
.flaticon-skype-logo:before { content: "\f225"; }
.flaticon-small-truck-black-side-view-silhouette:before { content: "\f226"; }
.flaticon-smiling-face:before { content: "\f227"; }
.flaticon-sort-by-reverse-alphabet-order-interface-symbol:before { content: "\f228"; }
.flaticon-sort-descending-interface-down-arrow-symbol-with-horizontal-text-lines:before { content: "\f229"; }
.flaticon-sort-interface-symbol-of-down-arrow-with-numbers:before { content: "\f22a"; }
.flaticon-sort-numerically-down-interface-symbol:before { content: "\f22b"; }
.flaticon-space-ship:before { content: "\f22c"; }
.flaticon-speaker:before { content: "\f22d"; }
.flaticon-speaker-black-tool-shape-interface-symbol:before { content: "\f22e"; }
.flaticon-speaker-interface-audio-symbol:before { content: "\f22f"; }
.flaticon-speech-bubble-couple-of-black-rectangular-shapes:before { content: "\f230"; }
.flaticon-speech-bubbles-interface-chat-symbol:before { content: "\f231"; }
.flaticon-speedometer:before { content: "\f232"; }
.flaticon-square-outline:before { content: "\f233"; }
.flaticon-square-outline-shape:before { content: "\f234"; }
.flaticon-square-outline-with-up-arrow:before { content: "\f235"; }
.flaticon-square-with-two-rectangles-inside:before { content: "\f236"; }
.flaticon-star-black-shape-favourite-interface-symbol:before { content: "\f237"; }
.flaticon-star-gross-outline:before { content: "\f238"; }
.flaticon-star-on-vip-card:before { content: "\f239"; }
.flaticon-star-shape-symbol-with-half-black-and-half-white:before { content: "\f23a"; }
.flaticon-status-interface-symbol:before { content: "\f23b"; }
.flaticon-strikethrough-text-option-interface-symbol:before { content: "\f23c"; }
.flaticon-strikethrough-text-option-interface-symbol-1:before { content: "\f23d"; }
.flaticon-subscript-interface-option-symbol:before { content: "\f23e"; }
.flaticon-suitcase-black-shape:before { content: "\f23f"; }
.flaticon-suitcase-black-shape-1:before { content: "\f240"; }
.flaticon-sun-black-shape:before { content: "\f241"; }
.flaticon-superscript-symbol:before { content: "\f242"; }
.flaticon-table-tennis-racquet-or-rattle-musical-instrument-black-silhouette-shape:before { content: "\f243"; }
.flaticon-tablet-tool-variant:before { content: "\f244"; }
.flaticon-tag-black-tool-shape:before { content: "\f245"; }
.flaticon-target-concentric-circles-symbol:before { content: "\f246"; }
.flaticon-targeting:before { content: "\f247"; }
.flaticon-text-alignment-to-right:before { content: "\f248"; }
.flaticon-text-height-format-interface-option-symbol:before { content: "\f249"; }
.flaticon-text-option-interface-symbol:before { content: "\f24a"; }
.flaticon-text-option-interface-symbol-1:before { content: "\f24b"; }
.flaticon-text-side-option-interface-symbol:before { content: "\f24c"; }
.flaticon-three-aligned-squares-in-vertical-line-interface-button:before { content: "\f24d"; }
.flaticon-three-black-squares:before { content: "\f24e"; }
.flaticon-three-gears-interface-symbol-for-settings:before { content: "\f24f"; }
.flaticon-three-rectangles-symbol:before { content: "\f250"; }
.flaticon-three-squares-line:before { content: "\f251"; }
.flaticon-thumb-down-symbol:before { content: "\f252"; }
.flaticon-thumb-up-gross-line-symbol:before { content: "\f253"; }
.flaticon-train-travelling-on-railroad:before { content: "\f254"; }
.flaticon-tray-interface-symbol:before { content: "\f255"; }
.flaticon-triangular-black-arrow-pointing-down:before { content: "\f256"; }
.flaticon-triangular-up-arrow:before { content: "\f257"; }
.flaticon-trophy-black-side-view-silhouette:before { content: "\f258"; }
.flaticon-tumblr-letter-logo:before { content: "\f259"; }
.flaticon-twitter-bird-logo-shape-in-a-square:before { content: "\f25a"; }
.flaticon-twitter-black-shape:before { content: "\f25b"; }
.flaticon-twitter-letter-logo-symbol-in-a-square:before { content: "\f25c"; }
.flaticon-two-arrows:before { content: "\f25d"; }
.flaticon-two-arrows-in-angle-pointing-down:before { content: "\f25e"; }
.flaticon-two-black-paper-sheets-symbol:before { content: "\f25f"; }
.flaticon-two-columns-layout:before { content: "\f260"; }
.flaticon-two-opposite-arrows:before { content: "\f261"; }
.flaticon-two-straight-arrows:before { content: "\f262"; }
.flaticon-umbrella-black-shape:before { content: "\f263"; }
.flaticon-underline-text-option-interface-symbol:before { content: "\f264"; }
.flaticon-unlocked-padlock:before { content: "\f265"; }
.flaticon-unlocked-padlock-symbol:before { content: "\f266"; }
.flaticon-up-and-down-arrows:before { content: "\f267"; }
.flaticon-up-and-down-small-triangular-arrows:before { content: "\f268"; }
.flaticon-up-arrow:before { content: "\f269"; }
.flaticon-up-arrow-angle:before { content: "\f26a"; }
.flaticon-up-arrow-angle-1:before { content: "\f26b"; }
.flaticon-up-arrow-in-a-circle:before { content: "\f26c"; }
.flaticon-up-arrow-in-a-circle-1:before { content: "\f26d"; }
.flaticon-up-arrow-in-circular-shape:before { content: "\f26e"; }
.flaticon-up-arrow-inside-a-gross-circle:before { content: "\f26f"; }
.flaticon-up-arrow-triangle:before { content: "\f270"; }
.flaticon-up-arrow-triangle-in-a-square-gross-outline:before { content: "\f271"; }
.flaticon-up-arrows-angles-couple:before { content: "\f272"; }
.flaticon-up-level-arrow:before { content: "\f273"; }
.flaticon-up-long-arrow:before { content: "\f274"; }
.flaticon-up-triangular-arrow:before { content: "\f275"; }
.flaticon-upload-to-the-cloud-interface-symbol:before { content: "\f276"; }
.flaticon-upper-right-arrow-black-symbol:before { content: "\f277"; }
.flaticon-user-black-shape:before { content: "\f278"; }
.flaticon-user-image-on-phone-screen-in-horizontal-position:before { content: "\f279"; }
.flaticon-verification-sign-in-a-circle:before { content: "\f27a"; }
.flaticon-verification-symbol:before { content: "\f27b"; }
.flaticon-verification-symbol-in-a-square-box:before { content: "\f27c"; }
.flaticon-verify:before { content: "\f27d"; }
.flaticon-video-camera:before { content: "\f27e"; }
.flaticon-view-eye-interface-symbol:before { content: "\f27f"; }
.flaticon-vimeo-letter-logo-in-a-square:before { content: "\f280"; }
.flaticon-vk-logo-of-social-network:before { content: "\f281"; }
.flaticon-war-airplane-bottom-view-black-shape:before { content: "\f282"; }
.flaticon-wedding-rings-couple:before { content: "\f283"; }
.flaticon-weekly-calendar-variant:before { content: "\f284"; }
.flaticon-wheel-shape-variant:before { content: "\f285"; }
.flaticon-windows-logo:before { content: "\f286"; }
.flaticon-wireless-keyboard:before { content: "\f287"; }
.flaticon-wireless-signal-interface-status-symbol-of-bars-group:before { content: "\f288"; }
.flaticon-world-ball:before { content: "\f289"; }
.flaticon-wrench-black-silhouette-of-tool:before { content: "\f28a"; }
.flaticon-xing-logo:before { content: "\f28b"; }
.flaticon-xing-logo-1:before { content: "\f28c"; }
.flaticon-yen-symbol:before { content: "\f28d"; }
.flaticon-youtube-logo:before { content: "\f28e"; }
.flaticon-youtube-rounded-square-logo:before { content: "\f28f"; }